body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: blueviolet;
}

header {
  background-color: aquamarine;
  color:aliceblue;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
}

footer {
  background-color: cadetblue;
  color: black;
  text-align: center;
  padding: 15px;
}

body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      color: black;
      background-color: grey;
      margin: 0;
      padding: 0;

}
header {
      background-color: darkgrey;
      color: white;
      padding: 20px;
}

main {
      width: 80%;
      height: 300px;
      margin: 20px auto;
      background-color: floralwhite;
      padding: 20px;
}

footer {
      background-color: ghostwhite;
      color: white;
      text-align: center;
      padding: 10px;
}