
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: blanchedalmond;
  background-color:whitesmoke;
}


header {
  background-color: greenyellow;
  color: white;
  text-align: center;
  padding: 30px 20px;
}


main {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


section {
  margin-bottom: 30px;
}


h2 {
  color: green;
}


ul {
  list-style-type: square;
}


a {
  color:grey;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
}


input, textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: greenyellow;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: yellowgreen;
}

/* Подвал */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0;
}
